<!--
  * Copyright (c) 2019-2023 SAAS开源 All rights reserved.
  *
  * SAAS系统设计研发交流
  *
  * https://www.maibaduoduo.com
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">

    <!-- 映射 -->
    <resultMap type="${package}.${moduleName}.entity.${className}Entity" id="${classname}Map">
        #foreach($column in $columns)
            <result property="${column.attrname}" column="${column.columnName}"/>
        #end
    </resultMap>

</mapper>